export PATH="$PATH:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/nvim-linux-x86_64/bin:/home/linuxbrew/.linuxbrew/bin"
export PATH="$PATH:/Users/julien_tanguy2/.volta/bin/
export PATH="$PATH:/opt/homebrew/bin
